/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif; /* Apply the Google Font */
    margin: 0;
    padding: 0;
    background-color: #FFC0CB; /* Baby pink background color */
    color: #ff69b4; /* Light pink text color */
}

header {
    background-color: rgba(76, 175, 80, 0.8); /* Semi-transparent background */
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for content */
    border-radius: 10px; /* Rounded corners */
    max-width: 800px; /* Maximum width for the content */
    margin: 20px auto; /* Center the content horizontally */
    text-align: center; /* Center text in the main content */
}

footer {
    background-color: rgba(241, 241, 241, 0.8); /* Semi-transparent background */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}
